@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,500');

$main-font: 'Open sans', sans-serif;
$second-font: 'Roboto', sans-serif;
$main-bg-color: #393E41;
$second-bg-color: #FF5959;
$headers-color: #AEB8C3;
$content-bg-color: #525461;

@mixin headers {
	font-family: $second-font;
	font-weight: 500;
}

@mixin btn-art-hover {
	transition: all .3s;
	background: $second-bg-color;
	color: $main-bg-color;
}

@mixin btn-art {
	border: 2px solid $second-bg-color;
	background: rgba(0,0,0,0);
	cursor: pointer;
	font-family: $second-font;
	padding: 6px 12px;
	color: #fff;
}

.error {
	background: red;
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	background: $content-bg-color;
	height: 100%;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

button, input, textarea {
	outline: 0;
	border: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	width: 100%;
	header{
		display: flex;
		flex-wrap: wrap;
		padding: 25px 0;
		background: $main-bg-color;
		justify-content: space-between;
		.logo {
			align-self: center;
			padding-left: 100px;
			h1 {
				@include headers;
				a {
					color: $second-bg-color;
				}
			}
		}
		.menu {
			padding-right: 100px;
			display: flex;
			color: #fff;
			background: red;
			ul {
				display: flex;
				li {
					font-family: $main-font;
					margin-left: 15px;
					align-self: center;
					a {
						color: #fff;
					}
					a:hover {
						transition: all .3s;
						color: $second-bg-color;
					}
				}
			}
		}
	}
}

.content {
	flex: 1 0 auto;
	max-width: 1200px;
	width: 100%;
	margin: 25px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.add-article {
		width: 700px;
		height: 300px;
		margin-bottom: 20px;
		textarea {
			margin-bottom: 20px;
			position: fixed;
		}
	}
	.profile-content {
		width: 100%;
		display: flex;
		.profile-descr {
			width: 330px;
			background: $main-bg-color;
			.profile-avatar {
				padding: 10px;
				width: calc(100% - 20px);
				border-bottom: 1px solid $second-bg-color;
				img {
					width: 100%;
				}
			}
			.profile-full-descr {
				header {
					border-bottom: 1px solid $second-bg-color;
					h1 {
						text-align: center;
						@include headers;
						color: $second-bg-color;
						padding: 10px;
					}
				}
				.profile-info {
					padding: 10px;
					p {
						@include headers;
						font-weight: 400;
						margin-top: 10px;
						color: #fff;
						span {
							color: $second-bg-color;
						}
					}
					p:first-child {
						margin-top: 0;
					}
				}
			}
		}
		.profile-wall {
			width: calc(100% - 350px);
			margin-left: 20px;
			align-self: flex-start;
			background: $main-bg-color;
			.profile-stat {
				display: flex;
				flex-wrap: wrap;
				border-bottom: 1px solid $second-bg-color;
				p {
					padding: 10px;
					cursor: pointer;
					text-align: center;
					width: calc(33.333% - 20px);
					@include headers;
					font-weight: 400;
					color: #fff;
					span {
						color: $second-bg-color;
					}
				}
				p:hover {
					transition: all .3s;
					background: $second-bg-color;
					span {
						color: $main-bg-color;
					}
				}
			}
			.profile-tabs-content {
				width: 100%;
				.profile-subscriber-items {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					figure {
						width: calc(20% - 20px);
						padding: 10px;
						text-align: center;
						img {
							width: 100px;
						}
						figcaption {
							h1 {
								@include headers;
								color: #fff;
								font-size: 20px;
							}
						}
					}
					figure:hover {
						transition: all .3s;
						background: $second-bg-color;
					}
				}
				ul {
					display: flex;
					flex-wrap: wrap;
					li {
						border-bottom: 1px solid $second-bg-color;
						header {
							display: flex;
							justify-content: space-between;
							p {
								@include headers;
								color: #fff;
								font-size: 14px;
								padding: 10px;
							}
						}
						.profile-commentator {
							padding: 0 10px 10px 10px;
							width: calc(100% - 20px);
							display: flex;
							align-items: center;
							.profile-avatar-commentator {
								img {
									width: 100px;
								}
							}
							.profile-descr-commentator {
								@include headers;
								h1 {
									color: $second-bg-color;
									font-size: 22px;
								}
								p {
									font-size: 14px;
									margin-top: 10px;
									color: #fff;
									font-weight: 400;
								}
							}
						}
						.profile-article {
							width: calc(100% - 20px);
							padding: 10px;
							display: flex;
							border-bottom: 1px solid $second-bg-color;
							align-items: center;
							.profile-art-img {
								img {
									width: 100px;
								}
							}
							.profile-art-descr {
								margin-left: 10px;
								@include headers;
								.profile-art-descr-top {
									display: flex;
									justify-content: space-between;
									align-items: center;
									h1 {
										font-size: 24px;
										a {
											color: $second-bg-color;
										}
									}
									p {
										color: #fff;
										font-size: 15px;
										font-weight: 400;
									}
								}
								p {
									font-size: 15px;
									margin-top: 10px;
									color: #fff;
									font-weight: 400;
								}
							}
						}
						.profile-article:last-child {
							border-bottom: 0;
						}
						img {
							width: 100px;
						}
						h1 {
							@include headers;
							font-size: 17px;
							color: #fff;
						}
					}
					li:last-child {
						border-bottom: 0;
					}
				}
			}
		}
		.profile-wall:after {
			content: "";
			display: block;
			clear: both;
		}
	}
	.about-us {
		max-width: 900px;
		width: 100%;
		margin: 0 auto;
		align-self: flex-start;
		background: $main-bg-color;
		h1, p {
			@include headers;
			font-weight: 400;
			padding: 10px;
		}
		h1 {
			color: $second-bg-color;
			padding: 10px;
		}
		p {
			padding-top: 0;
			color: #fff;
		}
	}
	.auth {
		margin: 0 auto;
		display: flex;
		align-self: center;
		flex-direction: column;
		background: $main-bg-color;
		header {
			border-bottom: 1px solid $second-bg-color;
			h1 {
				@include headers;
				color: $second-bg-color;
				padding: 15px;
			}
		}
		form {
			.form-group {
				display: flex;
				flex-direction: column;
				input {
					width: 300px;
					margin: 15px 15px 0 15px;
					padding: 7px 12px;
					@include headers;
					font-weight: 400;
				}
			}
			button {
				@include btn-art;
				margin: 15px;
				color: $second-bg-color;
				a {
					color: $second-bg-color;
				}
			}
			button:hover {
				@include btn-art-hover;
				a {
					color: #fff;	
				}
			}
			a {
				@include headers;
				color: $second-bg-color;
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
	.main-all-article-list {
		max-width: 900px;
		width: 100%;
		.header-posts {
			background: $main-bg-color;
			h1 {
				@include headers;
				padding: 15px;
				color: #FF5959;
			}
		}
		.articles-list {
			width: 100%;
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.article-item {
					align-self: flex-start;
					width: calc(50% - 12.5px);
					margin-top: 25px;
					background: $main-bg-color;
					.article-preview {
						header {
							.article-title {
								p {
									@include headers;
									padding: 15px;
									color: $second-bg-color;
									border-bottom: 1px solid $second-bg-color;
								}
							}
							.article-static {
								width: 100%;
								border-bottom: 1px solid $second-bg-color;
								padding: 5px 0;
								display: flex;
								justify-content: space-around;
								p {
									color: #fff;
									span {
										font-family: $second-font;
									}
								}
							}
						}
						.article-preview-descr {
							margin: 10px;
							display: flex;
							img {
								align-self: flex-start;
								width: 100px;
								max-height: 120px;
							}
							p {
								font-family: $main-font;
								word-spacing: 1px;
								font-size: 13px;
								color: #fff;
								margin-left: 20px;
							}
						}
						footer {
							border-top: 1px solid $second-bg-color;
							width: calc(100% - 20px);
							display: flex;
							padding: 10px;
							justify-content: space-between;
							p {
								align-self: center;
								font-family: $second-font;
								color: #fff;
								i {
									margin-right: 5px;
								}
								a {
									color: #fff;
								}
							}
							button {
								@include btn-art;
								a {
									color: $second-bg-color;
								}
							}
							button:hover {
								@include btn-art-hover;
								a {
									color: $main-bg-color;
								}
							}
						}
					}
				}
			}
		}
	}
	.full-article {
		max-width: 900px;
		width: 100%;
		.full-content-article {
			background: $main-bg-color;
			header {
				h1, p {
					@include headers;
				}
				.full-art-title {
					border-bottom: 1px solid $second-bg-color;
					display: flex;
					justify-content: space-between;
					h1 {
						padding: 15px;
						cursor: pointer;
						color: $second-bg-color;
					}
					h1:hover {
						transition: all .3s;
						color: $second-bg-color;
					}
					.full-art-date {
						margin-right: 15px;
						align-self: center;
						i {
							color: #fff;
						}
						span {
							@include headers;
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}
			.full-art-descr {
				.full-art-text-preview {
					p {
						@include headers;
						font-weight: 400;
						color: #fff;
						padding: 10px;
					}
				}
				.full-art-subheaders {
					h2 {
						@include headers;
						font-weight: 400;
						width: 90%;
						margin: 0 auto;
						margin-bottom: 10px;
						padding: 5px 10px;
						background: $content-bg-color;
						color: $headers-color;
						border-left: 2px solid $second-bg-color;
					}
				}
				.full-art-img {
					img {
						width: 100%;
						max-height: 507px;
					}
				}
				.full-art-text {
					@extend .full-art-text-preview;
				}
			}
			.full-stat-art {
				width: calc(100% - 30px);
				padding: 15px;
				border-top: 1px solid $second-bg-color;
				.full-stat-int {
					display: flex;
					p {
						color: #fff;
						margin-left: 35px;
						@include headers;
					}
					p:first-child {
						margin-left: 0;
					}
					p:nth-child(3) {
						i:hover {
							cursor: pointer;
							color: #11CD86;
						}
					}
					p:nth-child(4) {
						i:hover {
							cursor: pointer;
							color: #E73A38;
						}
					}
				}
				.full-art-tags {
					margin-top: 10px;
					p {
						color: #fff;
						@include headers;
						span {
							padding: 3px 5px;
							margin-left: 10px;
						}
						span:hover {
							transition: all .3s;
							background: $second-bg-color;
							color: $main-bg-color;
						}
						span:first-child {
							margin-left: 0;
						}
					}
				}
			}
		}
		.full-art-comments {
			width: 100%;
			margin-top: 25px;
			background: $main-bg-color;
			header {
				border-bottom: 1px solid $second-bg-color;
				h1 {
					padding: 15px;
					@include headers;
					color: $second-bg-color;
				}
			}
			.add-art-comment {
				border-bottom: 1px solid $second-bg-color;
				form {
					display: flex;
					.avatar-user-comment {
						img {
							width: 80px;
						}
					}
					.inner-content-comment {
						width: 100%;
						textarea {
							@include headers;
							font-weight: 400;
							margin: 10px;
							padding: 10px;
							height: 100px;
							width: calc(100% - 40px);
						}
						button {
							@include btn-art;
							margin: 0 0 10px 10px;
						}
						button:hover {
							@include btn-art-hover;
						}
					}
				}
			}
			.comment {
				width: 100%;
				display: flex;
				padding: 10px 0;
				border-bottom: 1px solid $second-bg-color;
				.avatar-comment {
					img {
						width: 100px;
					}
				}
				.comment-text {
					align-self: center;
					margin-right: 10px;
					.top-comment-text {
						display: flex;
						flex-direction: row-reverse;
						justify-content: space-between;
						p {
							margin-top: 0;
							align-self: center;
						}
					}
					h1, p {
						@include headers;
					}
					h1 {
						font-size: 22px;
						color: $headers-color;
					}
					h1:hover {
						transition: all .3s;
						color: $second-bg-color;
					}
					p {
						text-align: justify;
						font-size: 15px;
						margin-top: 10px;
						color: #fff;
						font-weight: 400;
					}
				}
			}
			.add-views-comment {
				width: 100%;
				display: flex;
				justify-content: center;
				padding: 10px 0;
				button {
					@include btn-art;
				}
				button:hover {
					@include btn-art-hover;
					color: #fff;
				}
			}
			.comment:last-child {
				border-bottom: 0;
			}
		}
	}
	.view-more-article {
		max-width: 900px;
		width: 100%;
		margin-top: 25px;
		display: flex;
		justify-content: center;
		button {
			@include btn-art;
		}
		button:hover {
			@include btn-art-hover;
		}
	}
	.pagination {
		max-width: 900px;
		width: 100%;
		margin-top: 25px;
		ul {
			display: flex;
			justify-content: center;
			li {
				cursor: pointer;
				@include headers;
				margin-left: 15px;
				padding: 7px 14px;
				color: #fff;
				background: $main-bg-color;
				border: 2px solid $second-bg-color;
			}
			li:hover {
				transition: all .3s;
				background: $second-bg-color;
				color: $main-bg-color;
			}
		}
	}
	.sidebar {
		max-width: 275px;
		width: 100%;
		align-self: flex-start;
		margin-left: 25px;
		.popular-articles {
			width: 100%;
			background: $main-bg-color;
			.header-popular-articles {
				border-bottom: 1px solid $second-bg-color;
				h1 {
					font-size: 19px;
					text-align: center;
					padding: 10px;
					color: $second-bg-color;
					@include headers;
				}
			}
			.pop-art-item {
				width: calc(100% - 20px);
				padding: 10px;
				display: flex;
				border-bottom: 1px solid $second-bg-color;
				.pop-art-img {
					img {
						width: 50px;
					}
					p {
						@include headers;
						span {
							font-size: 13px;
						}
					}
				}
				.pop-art-descr {
					margin-left: 5px;
					transition: all .3s;
					h1, p, span {
						@include headers;
						font-size: 15px;
					}
					h1 {
						a {
							color: $headers-color;
						}
					}
					p {
						font-weight: 400;
						font-size: 13px;
						color: #fff;
						i {
							font-size: 16px;
						}
						span {
							font-family: $main-font;
						}
					}
				}
			}
			.pop-art-item:last-child {
				border-bottom: 0;
			}
		}
	}
}

.footer {
	flex: 0 0 auto;
	width: 100%;
	margin-top: 20px;
	background: $main-bg-color;
	footer {
		p {
			color: #fff;
			line-height: 70px;
			margin-left: 100px;
			@include headers;
		}
	}
}